.a-top {
	opacity: 0;
	-webkit-transform: translateY(40px);
	-ms-transform: translateY(40px);
	transform: translateY(40px);
	-webkit-transition: 1.5s;
	transition:
		opacity 1.5s,
		transform 1.5s;
}

.a-top.is-view {
	opacity: 1;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.a-scale {
	opacity: 0;
	-webkit-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-transition: 1.5s;
	transition:
		opacity 1.5s,
		transform 1.5s;
}

.a-scale.is-view {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.a-left {
	opacity: 0;
	-webkit-transform: translateX(-80px);
	-ms-transform: translateX(-80px);
	transform: translateX(-80px);
	-webkit-transition: 1.5s;
	transition:
		opacity 1.5s,
		transform 1.5s;
}

.a-left.is-view {
	opacity: 1;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}

.a-right {
	opacity: 0;
	-webkit-transition: 1.5s;
	transition:
		opacity 1.5s,
		transform 1.5s;
}

@media (min-width: 1025px) {
	.a-right {
		-webkit-transform: translateX(80px);
		-ms-transform: translateX(80px);
		transform: translateX(80px);
	}
}

@media (max-width: 1024px) {
	.a-right {
		-webkit-transform: translateX(-80px);
		-ms-transform: translateX(-80px);
		transform: translateX(-80px);
	}
}

.a-right.is-view {
	opacity: 1;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}
