.preloader {
	position: fixed;
	left: -591px;
	top: 0;
	z-index: 1000;
	width: calc(100vw + 591px);
	height: calc(100vh + 591px);
	background-color: $color-white;

	&__img {
		@include sprite("manRocket");

		content: "";
		position: absolute;
		left: 0%;
		bottom: 0%;
		transition: transform 1s linear;
	}
}
