::-webkit-scrollbar-button {
	width: 7px;
	height: 7px;
	background-image: url("");
	background-repeat: no-repeat;
}

::-webkit-scrollbar-track {
	background-color: $color-white;
}

::-webkit-scrollbar-thumb {
	border-radius: 100px;
	box-shadow: 0 0 0 transparent inset;
	background-color: $color-black;
}

::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

:root {
	scrollbar-color: $color-black $color-white;
	scrollbar-width: thin;
}

body {
	@include browser-ie {
		/* stylelint-disable-next-line property-no-unknown */
		scrollbar-3dlight-color: $color-white;
		scrollbar-arrow-color: $color-gray;
		scrollbar-darkshadow-color: $color-white;
		scrollbar-face-color: $color-black;
		scrollbar-highlight-color: $color-black;
		scrollbar-shadow-color: $color-white;
		scrollbar-track-color: $color-white;
	}
}
