section.section.container.cheelee-team
	.cheelee-team__text
		h2.cheelee-team__title
			| Cheelee team has
			br
			span.accent
				| already launched
				br
				| product
		p.cheelee-team__description
			| The project is based on the already launched in 2021 short video platform – NUTSon
			| (1.5M users, 33% engagement rate and 15K videos created daily)
	picture(itemprop="image").cheelee-team__img
		source(
			srcset="./images/pages/index/screen_two-phones.webp, ./images/pages/index/screen_two-phones@2x.webp 2x"
			type="image/webp"
		)
		img(alt="screen_how-works" width="1088" height="785" src="./images/pages/index/screen_two-phones.png")
