section.section.container-xl.gamefi
	.gamefi__info
		h1.gamefi__title
			| GameFi short video
			span.accent
				|
				| platform
			span.gamefi__slogan
				|
				| Watch. Play. Earn
		a.gamefi__registration(href="https://cheelee-io.medium.com/" target="_blank")
			+svg('soc_google-play').gamefi__ico
			p
				| Pre-registration in Google Play
	ul.gamefi__social
		li
			a(href="https://discord.com/invite/cheelee" target="_blank")
				+svg('soc_discord').gamefi__ico
		li
			a(href="https://t.me/Cheelee_EN" target="_blank")
				+svg('soc_telegram').gamefi__ico
		li
			a(href="https://twitter.com/Cheelee_Tweet" target="_blank")
				+svg('soc_twitter').gamefi__ico
		li
			a(href="https://www.facebook.com/groups/cheelee" target="_blank")
				+svg('soc_facebook').gamefi__ico
		li
			a(href="https://www.instagram.com/cheelee.global/" target="_blank")
				+svg('soc_instagram').gamefi__ico
		li
			a(href="https://cheelee-io.medium.com/" target="_blank")
				+svg('soc_medium').gamefi__ico
