section.section.mission.container-xl
	.mission__info.mission-info.container
		h2.mission-info__title
			span.accent
				| Cheelee’s
			|
			| mission
		p.font-medium
			| Users spend an average of 2.5 hours daily on social networks and get nothing fоr it.
			| We believe that this is unfair
		p.font-medium
			b
				| Our mission
			|
			| is to provide everyone with the opportunity to monetize time in social networks
		p.mission-info__slogan.font-medium
			span.accent
				| Cheelee
			|
			| works within the "Attention Economy" framework
		p
			| Other social media consider a user as an information and advertising influence target,
			b
				|
				| but a Cheelee user is a full system member, partner and beneficiary.
			br
			br
			b
				| The Attention Economy
			|
			| sees human attention as a scarce commodity making it a new oil!
			| The founder of this concept is the Nobel laureate Herbert Simon
		p
			| The main idea is that attention is converted into income with digital platforms.
			| You pay your attention to what you want, and get paid for it. Your attention has a certain cost.
			br
			br
			| Through the GameFi mechanics, Cheelee’s users earn together with the platform by
			| converting their attention into money

	oi.mission__advantages.mission-advantages.container
		li.mission-advantages__item
			p.mission-advantages__text
				| Sign-up and get
				br
				| your
				span.accent
					|
					| free NFT glasses
		li.mission-advantages__item
			p.mission-advantages__text
				| Watch the feed and&nbsp;get the boxes
				span.accent
					|
					| with LEE tokens
		li.mission-advantages__item
			p.mission-advantages__text
				| Buy your NFT glasses and
				span.accent
					|
					| get&nbsp;LEE&nbsp;tokens
				|
				| directly&nbsp;when watching&nbsp;the&nbsp;feed
			p.mission-advantages__note.is-coins
				span.mission-advantages__note-wrap
					| The higher the rarity of&nbsp;your NFT glasses,
					| the&nbsp;more points you get when leveling them
					| up&nbsp;&mdash;&nbsp;the more tokens you&nbsp;can&nbsp;earn
		li.mission-advantages__item
			p.mission-advantages__text
				| Upgrade your
				br
				span.accent
					| NFT glasses
		li.mission-advantages__item
			p.mission-advantages__text
				span.accent
					| Buy additional
					br
					| NFT glasses
					br
				|
				| to increase the amount of Attention and&nbsp;rewarded time of&nbsp;watching the feed
			p.mission-advantages__note
				| 1 Attention =
				b
					|
					| 10 minutes
				br
				| of rewarded feed viewing
		li.mission-advantages__item
			picture(itemprop="image")
				source(
					srcset="./images/pages/index/screen_how-works.webp, ./images/pages/index/screen_how-works@2x.webp 2x"
					type="image/webp"
				)
				img(alt="screen_how-works" width="723" height="891" src="./images/pages/index/screen_how-works.png")

	.mission__watch.mission-watch.container
		.mission-watch__text
			p.mission-watch__title
				| Watch the videos and
				span.accent
					|
					| get the boxes
			p.mission-watch__description
				| While watching the feed you can get boxes
				br
				| with NFT or LEE tokens
		.mission-watch__img
			picture(itemprop="image")
				source(
					srcset="./images/pages/index/ico_box.webp, ./images/pages/index/ico_box@2x.webp 2x"
					type="image/webp"
				)
				img(alt="screen_how-works" width="404" height="891" src="./images/pages/index/ico_box.png")

	.mission__quote.mission-quote
		.mission-quote__arrows.is-up
			+svg('ico_arrows').mission-quote__ico-arrows
		.mission-quote__arrows.is-down
			+svg('ico_arrows').mission-quote__ico-arrows
		.mission-quote__wrap.container
			p.mission-quote__text
				| Don’t miss the
				span.accent
					|
					| Presale
			a.btn(href="/")
				| Buy NFT glasses