section.section.skills#skills(data-scroll-section)
	.container
		h2.skills__title(data-scroll-speed="-0.02" data-scroll-repeat data-scroll-class="is-view" data-scroll)
			| Skills
		ul.skills__row
			li.skills__item.a-top(
				itemprop="awards"
				data-scroll-to-duration="2"
				data-scroll-repeat
				data-scroll-class="is-view"
				data-scroll
			)
				h3.skills__subtitle
					| Adobe Creative Suite
				p
					| Photoshop, Illustrator, InDesign, XD, After Effects
			li.skills__item.a-top(itemprop="awards" data-scroll-repeat data-scroll-class="is-view" data-scroll)
				h3.skills__subtitle
					| Prototyping
				p
					| Sketch, Figma, InVision, Marvel, Principle, Balsamiq
			li.skills__item.a-top(itemprop="awards" data-scroll-repeat data-scroll-class="is-view" data-scroll)
				h3.skills__subtitle
					| Additional
				p
					| HTML, CSS, Google Analytics, Keynote, Miro
			li.skills__item.a-top(itemprop="awards" data-scroll-repeat data-scroll-class="is-view" data-scroll)
				h3.skills__subtitle
					| Languages
				p
					| Conversational English and Native Russian

		.skills__box
			+lazyPicture({
				src: `${baseDir}images/pages/home/handsLike`,
				alt: 'I love you',
				type: 'png',
				device: true,
				retina: true,
				webp: true
			}).skills__img.a-scale(data-scroll-class="is-view" data-scroll-repeat data-scroll)
