$sprites: (
	"education": (
		normal: (
			x: 593,
			y: 0,
			width: 63,
			height: 43,
			image: "sprites.png",
			total_width: 656,
			total_height: 591,
		),
		retina: (
			x: 1186,
			y: 0,
			width: 126,
			height: 86,
			image: "sprites@2x.png",
			total_width: 1312,
			total_height: 1182,
		),
	),
	"manRocket": (
		normal: (
			x: 0,
			y: 0,
			width: 591,
			height: 591,
			image: "sprites.png",
			total_width: 656,
			total_height: 591,
		),
		retina: (
			x: 0,
			y: 0,
			width: 1182,
			height: 1182,
			image: "sprites@2x.png",
			total_width: 1312,
			total_height: 1182,
		),
	),
	"work-21vek": (
		normal: (
			x: 593,
			y: 45,
			width: 30,
			height: 30,
			image: "sprites.png",
			total_width: 656,
			total_height: 591,
		),
		retina: (
			x: 1186,
			y: 90,
			width: 60,
			height: 60,
			image: "sprites@2x.png",
			total_width: 1312,
			total_height: 1182,
		),
	),
	"work-integral": (
		normal: (
			x: 625,
			y: 45,
			width: 30,
			height: 30,
			image: "sprites.png",
			total_width: 656,
			total_height: 591,
		),
		retina: (
			x: 1250,
			y: 90,
			width: 60,
			height: 60,
			image: "sprites@2x.png",
			total_width: 1312,
			total_height: 1182,
		),
	),
	"work-oz": (
		normal: (
			x: 593,
			y: 77,
			width: 30,
			height: 30,
			image: "sprites.png",
			total_width: 656,
			total_height: 591,
		),
		retina: (
			x: 1186,
			y: 154,
			width: 60,
			height: 60,
			image: "sprites@2x.png",
			total_width: 1312,
			total_height: 1182,
		),
	),
	"work-solutions": (
		normal: (
			x: 625,
			y: 77,
			width: 30,
			height: 30,
			image: "sprites.png",
			total_width: 656,
			total_height: 591,
		),
		retina: (
			x: 1250,
			y: 154,
			width: 60,
			height: 60,
			image: "sprites@2x.png",
			total_width: 1312,
			total_height: 1182,
		),
	),
);

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}
