$sprites: (
	"decorative_coins": (
		normal: (
			x: 0,
			y: 0,
			width: 103,
			height: 97,
			image: "sprites.png",
			total_width: 135,
			total_height: 97,
		),
		retina: (
			x: 0,
			y: 0,
			width: 206,
			height: 194,
			image: "sprites@2x.png",
			total_width: 270,
			total_height: 194,
		),
	),
	"ico_cheel": (
		normal: (
			x: 105,
			y: 0,
			width: 30,
			height: 30,
			image: "sprites.png",
			total_width: 135,
			total_height: 97,
		),
		retina: (
			x: 210,
			y: 0,
			width: 60,
			height: 60,
			image: "sprites@2x.png",
			total_width: 270,
			total_height: 194,
		),
	),
	"ico_lee": (
		normal: (
			x: 105,
			y: 32,
			width: 30,
			height: 30,
			image: "sprites.png",
			total_width: 135,
			total_height: 97,
		),
		retina: (
			x: 210,
			y: 64,
			width: 60,
			height: 60,
			image: "sprites@2x.png",
			total_width: 270,
			total_height: 194,
		),
	),
);

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}
