// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS
$color_background: #140132;
$color_background-accent: #7156fd33;
$color_font: #fcfcfd;
$color_font-accent: #01ffc2;
$color_button: #7156fb;
$color_link: #5e636e;
$color_link-active: #01ffc2;

// FONTS
$font-primary:
	"Montserrat",
	-apple-system,
	oxygen,
	ubuntu,
	cantarell,
	sans-serif;
$line-height_primary: 33px;
$line-height_second: 38px;
$line-height_normal: normal;

// EASING TRANSITIONS
$duration-normal: 0.5s;
$easing-back-out: cubic-bezier(0.25, 0.74, 0.22, 1.1); // http://cubic-bezier.com/#.25,.74,.22,1.1
$easing-back-in: cubic-bezier(0.47, -0.1, 0.5, -0.06); // http://cubic-bezier.com/#.47,-0.1,.5,-.06
$easing-out: ease-out;
$easing-in: ease-in;

// Settings
$desktop-xl: 1800;
$desktop: 1024;
$laptop: 1440;
$tablet: 768;
$mobile: 320;
$desktopNormal: "";
$desktopRetina: "@2x";

// Font-size
$font-size_small: 16px;
$font-size_normal: 18px;
$font-size_medium: 26px;
$font-size_large: 56px;
$font-size_extra-large: 72px;
$font-size_btn: 20px;

@mixin gradient-quote {
	background: linear-gradient(180deg, transparent 0%, rgba(255, 13, 255, 0.2) 100%);
	background-color: rgba(113, 86, 251, 0.2);
}
