.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
	font-size: $font-size_small;

	&__menu {
		padding: 0 5px;
	}
}

.header-menu {
	&__row {
		@include gap-column(36px);

		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__item {
		color: $color_link;

		&.active {
			font-weight: 700;
			color: $color_link-active;
		}
	}
}

.header-info {
	@include gap-column(20px);

	display: flex;
	align-items: center;

	&__text {
		display: flex;
		flex-direction: column;
	}

	&__name {
		font-size: 8px;
	}

	&__price {
		position: relative;
		font-weight: 700;

		&.is-up {
			padding-right: 8px;

			&::after {
				content: "";
				position: absolute;
				right: 0;
				top: 0;
				display: block;
				width: 7px;
				height: 100%;
				background-image: url("../images/base/priceUp.svg");
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
			}
		}

		&.is-down {
			padding-right: 8px;

			&::after {
				content: "";
				position: absolute;
				right: 0;
				top: 0;
				display: block;
				width: 7px;
				height: 100%;
				background-image: url("../images/base/priceDown.svg");
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
			}
		}
	}

	&__logo {
		margin-right: 5.4px;

		&.is-cheel {
			@include sprite("ico_cheel");
		}

		&.is-lee {
			@include sprite("ico_lee");
		}
	}

	&__button {
		border-radius: 30px;
		padding: 12px 22px;
		background-color: $color_background-accent;
	}

	&__ico-certik {
		width: 132.5px;
		height: 34px;
	}

	&__item {
		display: flex;
	}

	&__locale {
		appearance: none;
		display: flex;
		flex-direction: column;
		outline: none;
		border: none;
		padding-right: 14px;
		text-transform: uppercase;
		color: $color_link;
		background-image: url("../images/base/select.svg");
		background-position: right;
		background-repeat: no-repeat;
		background-color: transparent;
		cursor: pointer;

		option {
			color: $color_font;
			background: $color_background;

			&:checked {
				color: $color_link;
				background: $color_background;
			}
		}
	}

	&__language {
		// display: none;

		&.is-active {
			display: inline-block;
			order: 1;
			padding-right: 14px;

			&::after {
				content: "";
				position: absolute;
				right: 0;
				top: 0;
				display: block;
				width: 10px;
				height: 100%;
			}
		}
	}
}
