.about-user {
	&::before {
		content: "";
		position: absolute;
		z-index: -1;
		height: 100%;
		background-position: bottom;
		background-size: 100% auto;
		background-repeat: no-repeat;

		@include desktop {
			bottom: -270px;
			width: 100%;
			background-image: url("../images/pages/home/aboutBg.svg");

			@include browser-ie {
				bottom: -165px;
			}
		}

		@include devices {
			bottom: -65px;
			width: calc(100% + 40px);
			background-image: url("../images/pages/home/aboutBg@mob.svg");
			transform: translateX(-20px);
		}
	}

	&__info {
		@include desktop {
			@include grid-column(1, 3);
		}

		@include devices {
			@include grid-column(1, 5);
		}
	}

	&__contact {
		@include gap-row(15px);

		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;

		@include desktop {
			@include grid-column(4, 5);
		}

		@include devices {
			@include grid-column(1, 5);

			@include browser-ie {
				/* stylelint-disable-next-line declaration-no-important */
				-ms-grid-row: 2 !important;
			}
		}
	}
}

.info-about-user {
	&__title {
		@include desktop {
			margin-top: 40px;
			margin-bottom: 30px;
		}

		@include devices {
			margin-top: 30px;
			margin-bottom: 20px;
		}
	}

	&__logo {
		@include desktop {
			width: 150px;
			height: 150px;
		}

		@include devices {
			width: 80px;
			height: 80px;
		}
	}
}

.contact-about-user {
	@include gap(10px);

	display: flex;
	flex-direction: column;

	@include desktop {
		margin-top: 80px;
	}

	@include devices {
		margin-top: 4px;
	}
}
