h2 {
	font-weight: 900;
	font-size: $font-size_extra-large;
}

.section {
	position: relative;
	padding-right: env(safe-area-inset-right, 12px);
	padding-left: env(safe-area-inset-left, 12px);
}

.font-medium {
	font-size: $font-size_medium;
}
