.skills {
	&__title {
		@include desktop {
			margin-bottom: 30px;
		}

		@include devices {
			margin-top: 23px;
			margin-bottom: 20px;
		}
	}

	&__subtitle {
		@include font-size-normal;

		font-weight: 700;
	}

	&__row {
		@include gap(20px);

		display: grid;

		@include desktop {
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: auto;
		}

		@include devices {
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: auto;

			@include browser-ie {
				display: flex;
				flex-direction: column;
			}
		}
	}

	&__item {
		@include gap(4px);

		display: flex;
		flex-direction: column;
	}

	&__box {
		@include desktop {
			margin-top: 200px;
			width: 100%;
			height: 288px;
		}

		@include devices {
			margin-top: 30px;
			width: 100%;
			height: auto;
			min-height: 188px;
		}
	}

	&__img {
		display: flex;
		margin: auto;

		@include desktop {
			width: 512px;
			height: 288px;
		}

		@include devices {
			width: 100%;
			height: auto;
			min-height: 188px;
			max-width: 375px;
		}
	}
}
