-
	const data = {
		header: {
			links: {
				logo: 'https://ninelines.agency/',
			},
			menu: [
				{
					// url: '#about-user',
					name: 'Resume',
					scrollTo: '#about-user'
				},
				{
					// url: '#experience',
					name: 'About user',
					scrollTo: '#experience',
				},
				{
					// url: '#skills',
					name: 'Skills',
					scrollTo: '#skills',
				}
			]
		},

		share: {
			caption: 'Поделиться:',
			list: ['fb', 'tw', 'vk'],
		},

		home: {
			title: 'гид&nbsp;по <br><span class="for-desktop">бережному</span><span class="for-devices">общению</span>',
			read: 'Читать',
		},

		modal: {
			close: 'Закрыть',
		},
		media: {
			desktop: {
				start: 1800,
				end: 1025
			},
			devices: {
				start: 1024,
				end: 1
			}
		}
	};

script.
	window.data = {
		home: !{JSON.stringify(data.home)},
	};

-
	const imgParams = {
		adaptiveWidth: 1024,
		devicesNormal: '@mob',
		devicesRetina: '@mob2x',
		desktopNormal: '',
		desktopRetina: '@2x'
	};