-
	const data = {
		header: {
			links: {
				logo: '/',
			},
			menu: [
				{
					url: '/',
					name: 'About us',
				},
				{
					url: '/',
					name: 'Roadmap',
				},
				{
					url: '/',
					name: 'Documents',
				},
				{
					url: '/',
					name: 'F.A.Q.',
				},
				{
					url: '/',
					name: 'Buy NFT glasses',
					class: 'active'
				},
			]
		},

		media: {
			desktop: {
				start: 1800,
				end: 1025
			},
			devices: {
				start: 1024,
				end: 1
			}
		}
	};

	const imgParams = {
		adaptiveWidth: 1024,
		devicesNormal: '@mob',
		devicesRetina: '@mob2x',
		desktopNormal: '',
		desktopRetina: '@2x'
	};