header.header
	.container
		button.header__burger.burger-header.btn.js-burger(type="button" aria-label="меню")
			span.burger-header__line
			span.burger-header__line
			span.burger-header__line
		nav.header__menu
			ul.header__list(itemscope itemtype="http://www.schema.org/SiteNavigationElement")
				each object, key in data.header.menu
					li.header__link.js-to-scroll(
						data-scroll-to=object.scrollTo
						data-link=key
						itemprop="url"
					)
						!= object.name
			.header__img
				+lazyPicture({
					src: `${baseDir}images/base/hourglass`,
					alt: 'Время меню',
					type: 'png',
					retina: true,
					webp: true
				})